extends layout
block header
	.menu
		a.action-link(href='/') Back
block body
	.content.well.static
		.inline-block
			!=partial('_dialog', { dialog: dialog, full: true })
		.inline-block
			!=partial('_reactions', { dialog: dialog, amount: 200 })
