extends layout
block center-header
	a.overlay-action.action-link(href='#help', data-open='#help') ?
block overlay
	.overlay#help
		!= partial('help/_byId01')
block right-header
	a.action-link(href='/') Back
block body
	.content.well.static
		.inline-block
			!=partial('_dialog', { dialog: dialog, full: true })
		.inline-block
			!=partial('_reactions', { dialog: dialog, amount: 200 })
