extends layout
block center-header
	a.overlay-action.action-link(href='#help', data-open='#help') ?
block overlay
	.overlay#help
		!= partial('help/_index01')
block right-header
	a.action-link(href='/new') Write
block body
	.content.well.static
		h1 Latest
		hr
		each dialog in dialogs
			.row
				.span5
					!=partial('_dialog', { dialog: dialog })
				.span5
					!=partial('_reactions', { dialog: dialog, amount: 10 })

