extends layout
block center-header
	a.overlay-action.action-link(href='#help', data-open='#help') ?
block overlay
	.overlay#help
		!= partial('help/_index01')
block right-header
	a.action-link(href='/write') Write
block body
	.content.well.static
		ul.nav.nav-tabs
			li(class=(req.url === '/' ? 'active' : '')) 
				a(href='/')
					h1 Top
			li(class=(req.url === '/new' ? 'active' : ''))
				a(href='/new')
					h1 New
		each dialog in dialogs
			.row
				.span5
					!=partial('_dialog', { dialog: dialog })
				.span4.offset1
					!=partial('_reactions', { dialog: dialog, amount: 10 })

