!!!
html(lang="en")
	head
		title Me + You?
		meta(name='viewport', content='width=device-width', initial-scale=1)
		link(rel='stylesheet', href='/css/bootstrap.css')
		link(rel='stylesheet', href='/css/bootstrap-responsive.css')
		link(rel='stylesheet', href='/css/style.css')
	body
		.container
			.header
				.place.left
					a.action-link(href='/') Dialog.io
				.place.center
					block center-header
				.place.right
					block right-header
			block body
				.content.well
			block footer
				.footer
		block overlay
		script(data-main='/js/main.js', src='/js/require-jquery.js')
