!!!
html(lang="en")
	head
		title Me + You?
		link(rel='stylesheet', href='/css/bootstrap.css')
		link(rel='stylesheet', href='/css/bootstrap-responsive.css')
		link(rel='stylesheet', href='/css/style.css')
	body
		.container
			.header
				a.action-link(href='/') Dialog.io
				block header
			block body
				.content.well
			block footer
				.footer
		block overlay
		script(data-main='/js/main.js', src='/js/require-jquery.js')
