extends layout
block preScript
	- var parent = parent || null
block overlay
	.overlay#sharing-is-caring
		!= partial('_share')
	.overlay#help
		!= partial('help/_writing01')
block center-header
	a.overlay-action.action-link(href='#help', data-open='#help') ?
block right-header
	a.overlay-action.action-link(href='#sharing-is-caring', data-open='#sharing-is-caring') Share
block footer
	.footer
		!= partial('_input')
block body
	.content.well
		- if (parent !== null)
			h2='In response to '
				a.action-link(href='/byId/' + parent._id, target='_new')= parent.title
		h1 
			.editable.character-io.me(tabindex=1, contentEditable='true')= (parent ? parent.characters[0].name : 'Me')
			= ' & '
			.editable.character-io.you(tabindex=2, contentEditable='true')= (parent ? parent.characters[1].name : 'You')
		hr
		.convo 
