extends layout
block overlay
	.overlay#sharing-is-caring
		!= partial('_share')
	.overlay#help
		!= partial('help/_writing01')
block center-header
	a.overlay-action.action-link(href='#help', data-open='#help') ?
block right-header
	a.overlay-action.action-link(href='#sharing-is-caring', data-open='#sharing-is-caring') Share
block footer
	.footer
		!= partial('_input')
block body
	.content.well
		h1 
			.editable.character-io.me(tabindex=1, contentEditable='true') Me
			= ' & '
			.editable.character-io.you(tabindex=2, contentEditable='true') You
		hr
		.convo 
