extends ../templates/window

block title
	h1 What is this?
block body
	.prettify
		p This is the full view of the dialog named #{dialog.title}.
		p If it happens to resonate with you, you are welcomed to leave a reaction.
		p You can type a new reaction where the text says 'In one word'. Only a single world is allowed, but you may write several. Click any of the already existing ones to echo that reaction.
		p So type anything you want, good or bad, and press enter. There is a limit to 20 characters but that should be alright, don't you think?
		p Please note, that as long as you haven't registered we will store your ip-address to keep track of your reactions.
