extends ../templates/window

block title
	h1 What is this?
block body
	.prettify
		p Dialog.io is about writing dialogs. 
		p It may be used to get that inspiration flowing or maybe to get that wonderful idea out of your head?
		p And what can you write? Well, that is up to you. We welcome nonsense, interesting discussions and even really boring stuff. Write whatever you wish!
		p Let me tell you this, if it turns out that you make something good, you are most welcome to share your dialog with the rest of us. 
		p Overtly enough, it is close to anonymous so don't worry about anyone finding out who wrote what.
		p Good luck and write something good why don't you?
